img.align-left{
  display: block;
  margin:  auto;
}
li {
  display: inline;
  margin-right: 10px;}
p.p-one{
  text-align: left;
}
div.box-one {
  height: 1000px;
  width: 1000px;
  background-color: white;
  margin: auto;
}
div.box-two {
  height: 400px;
  width: 300px;
  background-color: #91342f;
}
p.p-two{
  color: white;
  text-align: center;
}
div.box-three{
  display: inline-block;
}
div.boxlist{
  margin-left: auto;
}
div.navbar{
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding-top: -2px;
  padding-bottom: -2px;
}
